body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    margin-top: 20vh;
        background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #008000;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: calc(20% - 5px);
    padding: 10px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

input[type="submit"]:hover {
    background-color: #006400;
}

.result {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #008000;
}

.ops {
    display:flex;
    justify-content: space-evenly;
}